*{
margin: 0;
padding: 0;
}


html {
  scroll-behavior: smooth;
}

body{
font-size: 100%;
font-family: sans-serif;
}

div, section, span, ul, li, a, header{
box-sizing: border-box;
}

/* css reset */

#laptop2-1920 {
  width: 100%;
  height: auto;
  
}

#Logodesign1 {
  width: 400px;
  margin: 20px 30px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
  position: fixed;
  z-index: 999;

} 

#menu li{
  list-style: none;
  display: inline-block;
  margin: 20px;
}

#menu li a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}

section {
  width: 100%;
  float: left;
  height: 100vh;
  position: relative;
}

#home {
  background-color: #FFC93C;
}

#about {
  background-color: #FF9A3C;
}

#work {
  background-color: #FF6F3C;
}

#testimonials {
  background-color: #155263;
}

#contact {
  background-color: #FFC93C;
}

h1 {
   position: absolute;
  top: 150px; 
  left: 43%;
  color: white;
  font-size: 35px;
}
 
.button {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Style the active class (and buttons on mouse-over) */
.active, .button:hover {
  background-color: #666;
  color: white;
}